doctype
html
  head
    meta(charset="utf-8")
    title space-race

    link(rel="stylesheet", href="css/main.css")

    script(src="socket.io/socket.io.js")
    script(data-main="js/build/main", src="js/bower_components/requirejs/require.js")
  body
    canvas#canvas(width="600", height="600") Your browser doesn't support canvas :(
